services:
  dev:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    
    volumes:
      - .:/workspace
      - ${HOME}/.config/nvim:/root/.config/nvim
      - ${HOME}/.local/share/nvim:/root/.local/share/nvim
    working_dir: /workspace
    tty: true
    stdin_open: true

# Keep the container alive
    command: bash -lc "sleep infinity"
